/* html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #343a40;
} */

#mymap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  background-color: #343a40;
}

#mymap2 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  display: block;
  background-color: #343a40;
}

/*
.mind-process{
    z-index: 1000;
    margin-bottom: 20px;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 10px;
} */
.landingtext {
  position: relative;
  top: 140px;
  left: 20px;
  font-family: 'Maitree', times, serif;
  color: white;
  font-size: 80px;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 0;
  min-height: 114%;
  min-width: 114%;
  /*pointer-events: none;*/
  display: block;
  color: #343a40;
}

.about-background {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #343a40;
  background-color: #343a40;
}

.jumbotron {
  min-height: 40%;
  background-color: #343a40;
}

.about-image {
  position: relative;
  max-width: 50%;
}

.picture-correct {
  transform: rotate(90deg);
}

.about-methods {
  position: relative;
  padding: 10px;
  font-size: 30px;
}

/* Slideshow container */
.slideshow-container {
  position: fixed;
  bottom: 60px;
  right: 40px;
  width: 600px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 2px;
  font-size: 30px;
}

.footer-container {
  position: fixed;
  bottom: 0;
  right: 5px;
  font-size: 10px;
  color: black;
}

/* Slides */
.mySlides {
  position: relative;
  display: block;
  padding: 30px;
  color: white;
  vertical-align: middle;
  text-align: center;
  font-family: 'Maitree', times, serif;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 100s;
  animation-name: fade;
  animation-duration: 100s;
}

@-webkit-keyframes fade {
  from {
    opacity: .9
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .9
  }

  to {
    opacity: 1
  }
}

.navbar ul {
    list-style-type: none;
    height: 25px;
}

.navbar li {
  float: left;
}
