html, body,main
{
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color:#343a40;
  font-family: 'Titillium Web', sans-serif;
  overflow: auto;
}


#map  {
  position:relative;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  /* z-index: 1000 !important; */
  left: 0;
  right: 0;
  margin: 0;
  background: #fff;
  font-family: 'Titillium Web', sans-serif;
  overflow: hidden;
}



.leaflet-control-layers{
  color: white !important;
  padding: 6px 8px;
  border: none !important;
  background: #343a40 !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px  !important;
  position: static;
  z-index: 1000;
  /* width: 100%; */
}


#info {
  position: fixed;
  z-index: 1000;
  left: 20px;
  top: 270px;
  width: 200px;
  color: white;
  padding: 6px 8px;
  background: #343a40;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.navbar-btn {
    box-shadow: none;
    outline: none;
    border: none;
}


.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fa-github-square:hover {
  opacity: 0.3;
}

.fa-github-square {
  color: #fff;
  font-size: 40px;
}

.fa-linkedin:hover {
  opacity: 0.3;
}

.fa-linkedin {
  color: #fff;
  font-size: 40px;
}

.fa-info-circle:hover {
  opacity: 0.3;
}

.fa-info-circle {
  color: white;
  font-size: 20px;
}

.fa-home:hover {
  opacity: 0.3;
}

.fa-home {
  color: white;
  font-size: 20px;
}

.fa-map-marked-alt:hover {
  opacity: 0.3;
}

.fa-map-marked-alt {
  color: white;
  font-size: 20px;
}

#blues_legend {
  position: absolute;
  line-height: 12px;
  padding: 3px;
  /* text-align: center; */
}

#blues_legend i {
  width: 0.5px;
  height: 12px;
  float: left;
}

#greens_legend {
  position: absolute;
  line-height: 12px;
  padding: 3px;
  /* text-align: center; */
}

#greens_legend i {
  width: 0.5px;
  height: 12px;
  float: left;
}
#rdylgn_legend {
  position: absolute;
  line-height: 12px;
  padding: 3px;
  /* text-align: center; */
}

#rdylgn_legend i {
  width: 0.5px;
  height: 12px;
  float: left;
}
